@import "../../../../assets/scss/partials/mixins";
@import "../../../../assets/scss/partials/vars";
.card {
    text-align: center;
    padding: 3%;
    height: $row-height;
    @include flex(null, null, center, center);
    height: 100%;
}