<nav class="navbar row">
    <div class="col-lg-1 col-md-12 col-sm-12">
        <app-logo size="small" navRoute="/"></app-logo>
    </div>

    <div class="col-lg-6 col-md-12 col-sm-12 links">
        <ul class="linkItem">
            <li *ngFor="let link of links" app-nav-option [tooltip]="bottom" [img]="link.img" [navRoute]="link.navRoute" [linkText]="link.linkText" (click)="toggleSidenav()"></li>
        </ul>
    </div>
    <div class="mobileMenu bottom">
        <fa-icon [icon]="iconMobile" (click)="toggleNavbar()"></fa-icon>
    </div>
    <div class="col-lg-5 col-md-12 col-sm-12 actionsContainer">
        <ul class="actionItem">
            <li *ngFor="let link of actions" app-nav-option [tooltip]="bottom" [icon]="link.icon" [navRoute]="link.navRoute" [linkText]="link.linkText" (click)="toggleSidenav()"></li>
        </ul>
    </div>

</nav>