@import "../../../../assets/scss/partials/mixins";
@import "../../../../assets/scss/partials/vars";
.navbar {
    min-height: 10vh;
    width: 100%;
    margin: 0%;
    background-color: $sidenav-bg-color-soft;
    div {
        text-align: center;
    }
}

.linkItem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0%;
    padding: 1% 0%;
}

.mobileMenu {
    color: $primary-text-color;
    cursor: pointer;
    margin: 0 auto;
    @include sm() {
        @include flex(null, null, center, center);
    }
    @include lg() {
        display: none;
    }
}

.actionsContainer {
    @include sm() {
        height: 0;
        li {
            display: none;
        }
        @include transition();
    }
    @include lg() {
        height: auto;
        li {
            display: inline-block;
        }
    }
}

.toggleNavbar {
    height: auto;
    li {
        display: block;
    }
    @include transition();
}

.actionItem {
    text-align: center;
    @include lg() {
        padding: 0%;
        margin: 0%;
    }
}