<app-navbar [links]="nabvarLinks" [actions]="actionLink"></app-navbar>
<div class="user-container wrapper-full wrapper center">
    <app-sidenav [links]="sidebarLinks"></app-sidenav>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>
<app-float-button></app-float-button>