@import "partials/vars";
@import "partials/mixins";
@import "partials/wrappers";
@import "partials/links";
@import "partials/navs";
@import "partials/responsiveText";
// Components
@import "partials/navbar.scss";
@import "partials/logo.scss";
@import "partials/sidenav.scss";
@import "partials/floatMenu.scss";
@import "partials/dashboard.scss";
* {
    font-family: 'Karla', sans-serif;
}

body {
    @include lg() {
        overflow: hidden;
    }
}