@import "./assets/scss/partials/vars";
@import "./assets/scss/partials/mixins";
@import "./assets/scss/partials/wrappers";
@import "./assets/scss/partials/links";
@import "./assets/scss/partials/navs";
@import "./assets/scss/partials/responsiveText";
* {
    font-family: 'Karla', sans-serif;
}

body {
    overflow: hidden;
}