@import "../../../../assets/scss/partials/mixins";
@import "../../../../assets/scss/partials/vars";

/* autoprefixer: off */

.grid {
    align-items: start;
    margin: 0 auto;
    padding: 2% 0%;
    @include sm() {
        display: block;
        .gridItem {
            margin: 1%;
            height: 100%;
        }
    }
    @include md() {
        display: grid;
        width: 95%;
        grid-gap: $grid-gap-md;
        grid-template-columns: repeat($columns-count-md, 1fr);
        grid-template-rows: repeat($columns-count-md, $row-height-md);
        grid-template-areas: $grid-template-md;
    }
    @include lg() {
        display: grid;
        grid-gap: $grid-gap;
        grid-template-columns: repeat($columns-count, 1fr);
        grid-template-rows: repeat($columns-count, $row-height);
        grid-template-areas: $grid-template;
    }
}

app-card-user {
    grid-area: cardUser;
    height: 100%;
}

.simplecard1 {
    grid-area: cardSimple1;
}

.simplecard2 {
    grid-area: cardSimple2;
}

.simplecard3 {
    grid-area: cardSimple3;
}

.simplecard4 {
    grid-area: cardSimple4;
}

.gridList {
    //@include gridHeight($list-row);
    height: 100%;
    grid-area: cardList1;
}

.chart {
    grid-area: cardChart;
    //@include gridHeight($chart-row);
    height: 100%;
    img {
        height: 90%;
    }
}

.card {
    padding: 1%;
}

.title {
    width: 100%;
    margin: 0%;
    button {
        margin: 3%;
    }
    @include sm() {
        align-items: center;
        text-align: center;
    }
    @include lg() {
        text-align: unset;
        padding: 0% 3%;
        .buttonContainer {
            text-align: right;
        }
    }
}