<div class="title row">
    <h2 class="col-lg-6 col-md-6 col-sm-12">Dashboard</h2>
    <div class="buttonContainer col-lg-6 col-md-6 col-sm-12">
        <button type="button" class="btn btn-dark">Widget Store</button>
        <button type="button" class="btn btn-dark">Boards</button>
    </div>
</div>
<section class="grid">
    <app-card class="gridItem" *ngFor="let item of data.cards; let i = index" [title]="item.title" [subtitle]="item.subtitle" [content]="item.content" [footerTitle]="item.footerTitle" [footerSubtitle]="item.footerSubtitle" [ngStyle]="{'grid-area' : 'card' + i}"></app-card>

    <app-card-user class="gridItem"></app-card-user>

    <app-simple-card class="gridItem simplecard1"></app-simple-card>
    <app-simple-card class="gridItem simplecard2"></app-simple-card>
    <app-simple-card class="gridItem simplecard3"></app-simple-card>
    <app-simple-card class="gridItem simplecard4"></app-simple-card>

    <div class="card chart gridItem">
        <h5>Resumen</h5>
        <img src="assets/img/chart.png" alt="">
    </div>
    <div class="card gridItem gridList">
        Canales de Venta
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>
</section>