<div class="card">
    <div class="card-header">
        <h4>{{title}}</h4>
        <h6>{{subtitle}}</h6>
    </div>
    <div class="card-body">
        body
    </div>
    <div class="card-footer">
        <h6>{{footerTitle}}</h6>
        <span>{{footerSubtitle}}</span>
    </div>
</div>