@import "../../../../assets/scss/partials/mixins";
@import "../../../../assets/scss/partials/vars";
.card-header,
.card-footer {
    @include flex(null, null, center, space-between);
}

.card {
    //@include gridHeight($card-row);
    height: 100%;
}