a {
    text-decoration: none;
    position: relative;
    &:hover::after {
        width: 100%;
    }
    &.small {
        color: $disabled-text-color;
        font-size: .7rem;
        @include transition(color);
        font-weight: lighter;
        &:hover {
            color: $disabled-text-color_hover;
        }
        &:after {
            content: none;
        }
    }
    &:hover {
        text-decoration: none;
    }
}