@import "./vars";
// Break Point Sizes
// Landscape horizontal
$xl-l-w-BP: 1250px;
$lg-l-w-BP: 960px;
$md-l-w-BP: 768px;
$sm-l-w-BP: 300px;
$xl-l-h-BP: 1250px;
$lg-l-h-BP: 960px;
$md-l-h-BP: 768px;
$sm-l-h-BP: 550px;
// Defines compatibility for specific props and every browser
@mixin comp($prop, $value) {
    $browsers: 'webkit', 'moz', 'ms';
    @each $browser in $browsers {
        -#{$browser}-#{$prop}: $value;
    }
    #{ $prop }: $value;
}

// Defines a flex layout with every property setteable
@mixin flex($f: row, $w: nowrap, $ai: stretch, $jc: stretch) {
    @include comp(display, flex);
    flex-flow: $f $w;
    align-items: $ai;
    justify-content: $jc;
}

// Defines a absolutewith every property setteable
@mixin absolute($t: auto, $r: auto, $b: auto, $l: auto) {
    @include comp(position, absolute);
    top: $t;
    right: $r;
    bottom: $b;
    left: $l;
}

// calc grid height
@mixin gridHeight($col) {
    height: $row-height * $col + $grid-gap * ( $col - 1);
}

// Defines a common transition and duration for all of the props passed to the mixin
@mixin transition($props: all, $dur: .3s) {
    // Initiating $transitions variable
    $transitions: '';
    // looping through the props sent
    @each $prop in $props {
        @if($transitions=='') {
            $transitions: $prop $dur;
        }
        @else {
            // Appending all the props passed
            $transitions: append($transitions, unquote('#{ $prop } #{ $dur }'), 'comma');
        }
    }
    // Assigning final value
    transition: $transitions;
}

//define height sidebar 
@mixin fullHeight() {
    height: ($columns-count + 0.5) * $row-height + $grid-gap * $columns-count;
}

@mixin xl($orientation: landscape) {
    $bp: $xl-l-w-BP;
    @if $orientation==portrait {
        $bp: $xl-l-h-BP;
    }
    @media screen and (min-width: $bp)/* and (orientation: $orientation) */
    {
        @content;
    }
}

// Displays larger than 1250px will be affected
@mixin lg($orientation: landscape) {
    $bp: $lg-l-w-BP;
    @if $orientation==portrait {
        $bp: $lg-l-h-BP;
    }
    @media screen and (min-width: $bp)/* and (orientation: $orientation) */
    {
        @content;
    }
}

@mixin md($orientation: landscape) {
    $bp: $md-l-w-BP;
    @if $orientation==portrait {
        $bp: $md-l-h-BP;
    }
    @media screen and (min-width: $bp)/* and (orientation: $orientation) */
    {
        @content;
    }
}

@mixin sm($orientation: landscape) {
    $bp: $sm-l-w-BP;
    @if $orientation==portrait {
        $bp: $sm-l-h-BP;
    }
    @media screen and (min-width: $bp)/* and (orientation: $orientation) */
    {
        @content;
    }
}

@mixin themify($themes) {
    @each $theme,
    $themeProps in $themes {
        .theme-#{$theme} & {
            $themePropsMap: $themeProps !global;
            @content;
            $themePropsMap: null !global;
        }
    }
}

@mixin rounded($size) {
    height: $size;
    width: $size;
    border-radius: 50%;
    min-width: auto;
}

@mixin bkgColor($bkg-color: $dark-gray-color) {
    background-color: $bkg-color;
}