nav {
    ul {
        list-style-type: none;
        padding: 1rem;
    }
    @at-root .side#{ & } {
        p,
        a {
            white-space: nowrap;
        }
    }
    @at-root .#{ & }-option {
        padding: $sidenav-option-vertical-padding $sidenav-option-horizontal-padding;
        width: 100%;
        background: transparent;
        border: none;
        white-space: nowrap;
        font-weight: 200;
        @include flex($ai: center);
        @include transition(background-color);
        .option-text {
            flex-grow: 1;
            padding-left: 0.5rem;
            margin-bottom: 0;
            text-align: left;
            color: inherit;
        }
        @at-root a#{ & },
        button#{ & } {
            color: $sidenav-option-text-color;
            &.active {
                color: $sidenav-option-text-color_hover;
            }
            @include transition(color);
            &:hover {
                color: $sidenav-option-text-color_hover;
            }
            &:after {
                bottom: 0;
            }
            @at-root .topbar & {
                &:hover {
                    color: $brand-main-color;
                    &:after {
                        content: none;
                    }
                }
            }
        }
    }
}