$brand-main-color: #4181f2;
$brand-secondary-color: #161415;
$brand-soft-gray: #fefefe;
$dark-gray-color: #111;
// Texts color
$disabled-text-color: #bbb;
$disabled-text-color_hover: #999;
$secondary-text-color: #fefefe;
$primary-text-color: #111;
// Sidenav
$sidenav-option-text-color: #aaa;
$sidenav-option-text-color_hover: #f16622;
$sidenav-option-bkg_hover: #f2f2f2;
$sidenav-option-vertical-padding: 0.75rem;
$sidenav-option-horizontal-padding: 1rem;
$sidenav-bg-color-soft: #f2f2f2;
$sidenav-bg-color: #111;
$sidenav-toggler-size: 50px;
$sidenav-toggler-size-sm: 30px;
// -> Sizes
$lg-logo-height: 10rem;
$md-logo-height: 7rem;
$sm-logo-height: 4rem;
$min-height-page: 80vh;
$icon-rounded: 50px;
// bg colors
$bgPrimary: #4181f2;
$bgSecondary: #414042;
///// Grid //////
// LG
$columns-count: 4;
$row-height: 1fr;
$grid-gap: 10px;
$chart-row: 2;
$card-row: 1;
$user-row: 3;
$list-row: 2;
$grid-template: "card0 card1 card2 cardUser" "cardSimple1 cardChart cardChart cardUser" "cardList1 cardChart cardChart cardUser" "cardList1 cardSimple3 cardSimple4 cardSimple2";
// Medium Grid
$columns-count-md: 3;
$row-height-md: 1fr;
$grid-gap-md: 10px;
$chart-row-md: 2;
$card-row-md: 1;
$user-row-md: 3;
$list-row-md: 2;
$grid-template-md: "card0 card1 card2" "cardChart cardChart cardUser" "cardChart cardChart cardUser" "cardList1 cardSimple1 cardUser" "cardList1 cardSimple2 cardSimple3" "cardSimple4 cardSimple5 cardSimple6";