@import '../../../../assets/scss/partials/mixins';
.option-text {
    @include sm() {
        display: block;
    }
    @include lg() {
        display: none;
    }
}

img {
    height: 2rem;
}

.nav-option {
    @include sm() {
        padding: 0%;
    }
    @include md() {
        padding: 0.5rem 1rem;
    }
}