<a class="nav-option" [title]="label || linkText " [placement]="tooltip" [ngbTooltip]="linkText" [routerLink]="[ navRoute ]" routerLinkActive="active">
    <fa-icon [icon]="icon" *ngIf="icon"></fa-icon>
    <img [src]="'assets/img/'+img+'.png'" alt="" *ngIf="img">
    <p class="option-text" *ngIf="!img && linkText">
        {{ this.linkText }}
    </p>
</a>