<div class="card">
    <img src="assets/img/logo.png" alt="Logo">
    <p>Hola Bernat!</p>

    <ul class="linkItem">
        <li *ngFor="let link of links">
            <fa-icon [icon]="link.icon"></fa-icon> {{link.linkText}}</li>
    </ul>
</div>