@import "../../../../assets/scss/partials/mixins";
@import "../../../../assets/scss/partials/vars";
.card {
    background-color: $bgPrimary;
    text-align: center;
    color: $secondary-text-color;
    padding: 5%;
    height: 100%;
    ul {
        list-style: none;
        padding: 0%;
        width: 80%;
        margin: 0 auto;
    }
    li {
        text-align: left;
        padding: 2%;
    }
    img {
        width: 50px;
        margin: 0 auto;
    }
}