.icon {
    color: white;
    @include rounded($icon-rounded);
    background-color: red;
    @include flex(null, null, center, center);
    position: fixed;
    bottom: 1%;
    right: 2%;
    cursor: pointer;
    outline: none !important;
    z-index: 10;
}