$headingFontSize: ( 800: 2.1em 1.8em 1.5em 1.2em 1.2em 1.2em, 605: 2.1em 1.8em 1.5em 1.2em 1.2em 1.2em);
@mixin getHeadingFZ($screenSize) {
    $headingList: map-get($headingFontSize, $screenSize);
    @for $size from 1 through 6 {
        h#{$size} {
            font-size: nth($headingList, $size);
        }
    }
}

@media screen and (max-width: 800px) {
    @include getHeadingFZ(800);
}

@media screen and (max-width: 605px) {
    @include getHeadingFZ(605);
}