.sidenav {
    background-color: $sidenav-bg-color;
    height: 100vh;
    @include flex(null, null, center, center);
    @include sm() {
        position: fixed;
        width: 0vw;
        text-align: center;
        z-index: 15;
        top: 0%;
        ul {
            display: none;
        }
    }
    @include lg() {
        position: relative;
        width: fit-content;
        ul {
            display: block;
        }
    }
    .mobileMenu {
        color: $secondary-text-color;
        background-color: $sidenav-bg-color;
        cursor: pointer;
        @include rounded($icon-rounded);
        @include sm() {
            @include flex(null, null, center, center);
            z-index: 10;
        }
        @include lg() {
            display: none;
        }
    }
    .bottom {
        position: fixed;
        bottom: 1%;
        left: 1%;
    }
    .top {
        @include absolute(1%, 1%);
    }
}

.toggleSidebar {
    @include sm() {
        width: 100%;
        ul {
            display: block;
        }
        @include transition();
    }
    @include lg() {
        width: auto;
    }
}