.wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    &-full {
        height: 100%;
        width: 100%;
        &-width {
            width: 100%;
        }
        &-height {
            height: 100%;
        }
    }
    &-center {
        align-items: center;
        justify-content: center;
        &-horizontal {
            @at-root &.wrapper-column {
                justify-content: flex-start;
                align-items: center;
            }
            justify-content: center;
            align-items: flex-start;
        }
        &-vertical {
            @at-root &.wrapper-column {
                justify-content: center;
                align-items: flex-start;
            }
            justify-content: flex-start;
            align-items: center;
        }
    }
    &-space-between {
        &-horizontal {
            justify-content: space-between;
        }
        &-vertical {
            align-items: space-between;
        }
    }
    &-column {
        flex-flow: column nowrap;
    }
    &-dark {
        @include bkgColor();
    }
    &-text {
        &-light {
            color: $brand-soft-gray;
        }
    }
}