<nav class="sidenav" [style.min-height.px]="screenHeight">
    <div class="mobileMenu top">
        <fa-icon [icon]="iconClose" (click)="toggleSidenav()"></fa-icon>
    </div>
    <ul>
        <li *ngFor="let link of links" app-nav-option [icon]="link.icon" [navRoute]="link.navRoute" [linkText]="link.linkText" (click)="toggleSidenav()"></li>
    </ul>
</nav>

<div class="mobileMenu bottom">
    <fa-icon [icon]="iconMobile" (click)="toggleSidenav()"></fa-icon>
</div>