@import '../../../../assets/scss/partials/vars';
.logo {
    display: inline-block;
}

.large {
    margin: $lg-logo-height / 5;
    height: $lg-logo-height;
}

.medium {
    margin: $md-logo-height / 5;
    height: $md-logo-height;
}

.small {
    margin: 0%;
    height: $sm-logo-height;
}

a {
    height: 100%;
    width: 100%;
}

img {
    height: 100%;
}